<footer class="footer">
    <div class="boxfooter">
        <div class="lignes">
            <div class="footer-col">
                <h4>à propos</h4>
                <ul>
                    <li><a href="#">Conditions générales de ventes</a></li>
                    <li><a href="#">Données personnelles</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Besoin d'aide ?</h4>
                <ul>
                    <li><a href="#">SAV</a></li>
                    <li><a href="#">Informations complémentaires</a></li>
                    <li><a href="#">Livraison</a></li>
                    <li><a href="#">Publicité</a></li>
                    <li><a href="#">Aide et Assistance</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Nous contacter</h4>
                <ul>
                    <li><a href="#">09 79 39 35 28</a></li>
                    <li><a href="#">9, place de Marchand</a></li>
                    <li><a href="#">75000 Paris</a></li>
                    <li class="email"><a href="#">contact@paristicket.fr</a></li>
                </ul>
            </div>
            <img class="logofooter" src="{{ asset('img/logo_white.svg') }}" alt="logo">
        </div>
    </div>
</footer>